 /* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_type.scss */
body {
  font-family: 'MyriadPro-Regular', sans-serif;
}

/* line 14, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/_globals.scss */
img {
  width: 100%;
  height: auto;
}

/* line 1, ../sass/_main.scss */
.container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 35px;
  margin-bottom: 200px;
}
/* line 12, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 20, ../sass/_main.scss */
a {
  color: #000;
}

/* line 43, ../sass/_main.scss */
.menu ul li {
  margin: 30px 0px;
}
/* line 44, ../sass/_main.scss */
.menu ul li:first-of-type {
  margin-top: 0px;
}

/* line 50, ../sass/_main.scss */
.menu ul li a {
  text-decoration: none;
}

/* line 54, ../sass/_main.scss */
.logo {
  margin: 40px 0px;
}
/* line 56, ../sass/_main.scss */
.logo a {
  text-decoration: none;
}
/* line 59, ../sass/_main.scss */
.logo h1 {
  font-family: 'MyriadPro-Cond', sans-serif;
  letter-spacing: 2px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  letter-spacing: 2px;
  font-size: 65px;
  letter-spacing: 2px;
}

/* line 69, ../sass/_main.scss */
.current {
  font-family: 'MyriadPro-Bold';
}

/* line 74, ../sass/_main.scss */
.ag1 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  overflow: hidden;
  *zoom: 1;
}

/* line 80, ../sass/_main.scss */
.ag2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 87, ../sass/_main.scss */
.ag3 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  overflow: hidden;
  *zoom: 1;
}

/* line 93, ../sass/_main.scss */
.ag4 {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  overflow: hidden;
  *zoom: 1;
}
/* line 96, ../sass/_main.scss */
.ag4:nth-child(2) {
  width: 48.71795%;
  float: right;
  margin-right: 0;
}

/* line 101, ../sass/_main.scss */
.ag5 {
  width: 74.35897%;
  float: left;
  margin-right: 2.5641%;
  overflow: hidden;
  *zoom: 1;
  margin-left: 12.82051%;
}

/* line 109, ../sass/_main.scss */
.ag6 {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  overflow: hidden;
  *zoom: 1;
  margin-left: 25.64103%;
}

/* line 116, ../sass/_main.scss */
.textOnly {
  height: 400px;
}

/* line 120, ../sass/_main.scss */
.about, .contact, .credits {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 122, ../sass/_main.scss */
.about p, .contact p, .credits p {
  line-height: 1.6em;
}

/* line 127, ../sass/_main.scss */
.credits {
  cursor: default;
}
/* line 129, ../sass/_main.scss */
.credits a {
  text-decoration: none;
}

/* line 134, ../sass/_main.scss */
.contact, .credits {
  text-align: center;
}

/* line 138, ../sass/_main.scss */
.contact a {
  text-decoration: none;
}

/* line 143, ../sass/_main.scss */
.show {
  opacity: 1;
}
